.logo {
  height: 50px;
}

.nav-link,
.navbar-brand {
  color: #000000;
  cursor: pointer;
}

.nav-link {
  margin-right: 1em;
}

.nav-link:hover {
  color: #a98ff9;
}

.navbar-collapse {
  justify-content: flex-end;
}

.navbar-toggler {
  background: #a98ff9;
}

.navbar-collapse {
  justify-content: flex-end;
}

#js-rotating {
  color: #a98ff9;
}

.fas.fa-bars {
  color: white;
}

.intro-name {
  font-size: 2em;
  margin-left: 1.45em;
  font-family: Fira Sans;
  margin-top: 2em;
}

.intro-text {
  font-size: 2em;
  margin-left: 1.5em;
  font-family: Montserrat;
  font-size: 1.9em;
}
