.logo {
  height: 60px;
}

.nav-link,
.navbar-brand {
  color: #000000;
  cursor: pointer;
}

.nav-link {
  margin-right: 1em;
}

.nav-link:hover {
  color: #a98ff9;
}

.navbar-collapse {
  justify-content: flex-end;
}

.navbar-toggler {
  background: #a98ff9;
}

.navbar-collapse {
  justify-content: flex-end;
}

.nav-item {
  font-family: Fira Sans;
  font-size: 1.2em;
}

#js-rotating {
  color: #a98ff9;
}

.fas.fa-bars {
  color: white;
}

.intro-name {
  font-size: 2em;
  margin-left: 1.45em;
  font-family: Fira Sans;
  margin-top: 2em;
}

.intro-text {
  font-size: 2em;
  margin-left: 1.5em;
  font-family: Montserrat;
  font-size: 1.9em;
}

.fas.fa-heart {
  color: red;
}

.about-heart {
  text-align: center;
}

h2 {
  text-align: center;
  margin-top: 2.5em;
  margin-bottom: 1em;
  font-size: 1.4em;
}
.about {
  font-family: Montserrat;
  margin: 1em 10em 0em 10em;
  font-size: 1.3em;
}

.landing-image {
  margin-top: 1em;
}

.ux {
  width: 25em;
}

.developer {
  width: 25em;
}
